@inherits LayoutComponentBase

<div class="sidebar">
    <Sagua.Sitemap.Blazor.Components.SaguaMenu></Sagua.Sitemap.Blazor.Components.SaguaMenu>
</div>

<div class="main">

    <Sagua.Sitemap.Blazor.Components.Breadcrumb></Sagua.Sitemap.Blazor.Components.Breadcrumb>

    <div class="content px-4">
        @Body
    </div>
</div>
