<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sagua.Sitemap.Blazor.Example</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <Sagua.Sitemap.Blazor.Components.SaguaMenu></Sagua.Sitemap.Blazor.Components.SaguaMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
